<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NazareneChurch</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/NazareneChurch.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="s-header">

        <div class="header-logo">
            <a class="site-logo" href="index.html">
                <img src="images/logo.svg" alt="Homepage">
            </a>
        </div>

        <nav class="header-nav-wrap">
            <ul class="header-nav">
                <li class="current"><a asp-page="/index" title="Home">Início</a></li>
                <li><a asp-page="/about" title="About">Sobre</a></li>
                <li><a asp-page="/events" title="Services">Eventos</a></li>
                <li><a asp-page="/contact" title="Contact us">Contato</a></li>
            </ul>
        </nav>

        <a class="header-menu-toggle" href="#0"><span>Menu</span></a>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="s-footer">
        <div class="row footer-top">
            <div class="column large-4 medium-5 tab-full">
                <div class="footer-logo">
                    <a class="site-footer-logo" href="index.html">
                        <img src="images/logo.svg" alt="Homepage">
                    </a>
                </div>  <!-- footer-logo -->
                <p>
                    Laborum ad explicabo. Molestiae voluptates est. Quisquam labore tenetur
                    et assumenda voluptatibus a beatae. Rerum odio ducimus reprehenderit
                    sit animi laborum nostrum dolorum animi voluptates est voluptatibus a beatae.
                </p>
            </div>
            <div class="column large-half tab-full">
                <div class="row">
                    <div class="column large-7 medium-full">
                        <h4 class="h6">Nosso Endereço</h4>
                        <p>
                            <a class="events-list__meta-location style=" color: white;" href="https://maps.app.goo.gl/PRkXkpqv1gewRGvH6" target="_blank">Estr. Miguel Couto, 451 - Miguel Couto</a>
                        </p>

                        <p>
                            <a href="https://maps.app.goo.gl/PRkXkpqv1gewRGvH6" target="_blank" class="btn btn--footer">Rota</a>
                        </p>
                    </div>
                    <div class="column large-5 medium-full">
                        <h4 class="h6">Links rápidos</h4>
                        <ul class="footer-list">
                            <li><a asp-page="/index">Home</a></li>
                            <li><a asp-page="/about">About</a></li>
                            <li><a asp-page="/volunteer">Volunteer</a></li>
                            <li><a asp-page="/connect-group">Connect Groups</a></li>
                            <li><a asp-page="/events">Upcoming Events</a></li>
                            <li><a asp-page="/contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> <!-- end footer-top -->

        <div class="row footer-bottom">
            <div class="column ss-copyright">
                <span>© Copyright Nazareno 2024</span>
                <span>Design by <a href="https://www.styleshout.com/">StyleShout</a></span>
            </div>
        </div> <!-- footer-bottom -->

        <div class="ss-go-top">
            <a class="smoothscroll" title="Back to Top" href="#top">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 0l8 9h-6v15h-4v-15h-6z" /></svg>
            </a>
        </div> <!-- ss-go-top -->
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>