@page
@model NazareneChurch.Pages.aboutModel
@{
}

<!DOCTYPE html>
<html class="no-js" lang="pt-br">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Hesed - About</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/main.css">

    <!-- script
    ================================================== -->
    <script src="js/modernizr.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">

</head>

<body id="top">

    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader" class="dots-jump">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <!-- page header
    ================================================== -->
    <section class="page-header page-header--about">

        <div class="gradient-overlay"></div>
        <div class="row page-header__content">
            <div class="column">
                <h1>Somos Nazarenos</h1>
            </div>
        </div>

    </section> <!-- end page-header -->
    <!-- page content
    ================================================== -->
    <section class="page-content">

        <div class="row">
            <div class="column">

                <p class="lead drop-cap">
                    O Avivamento Wesleyano. Esta fé cristã tem sido facultada aos nazarenos através de correntes
                    religiosas históricas e, particularmente, através do reavivamento wesleyano ocorrido no século 
                    XVIII. Nos anos a partir de 1730 deu-se o Reavivamento Evangélico mais vasto na Grã-Bretanha, 
                    liderado principalmente por João Wesley, seu irmão Carlos e por Jorge Whitefield, clérigos da 
                    Igreja da Inglaterra. Através da instrumentalidade destes, muitos outros homens e mulheres 
                    abandonaram o pecado e foram cheios de poder para o serviço de Deus. Caracterizou-se este 
                    movimento pela pregação de leigos, testemunho, disciplina e círculos de discípulos dedicados, 
                    conhecidos por "sociedades", "classes" ou "bandos". Como movimento de vida espiritual, seus 
                    antecedentes incluiram o Pietismo Alemão, tipificado por Philip Jacob Spener; o Puritanismo 
                    Inglês do século XVII; e o despertamento espiritual na Nova Inglaterra descrito pelo pastor-teólogo
                    Jonathan Edwards.

                </p>

                <div class="row">
                    <div class="column large-half medium-full">
                        <h2>Nosso propósito</h2>
                        <p>
                            Escrever nosso propósito...
                        </p>
                    </div>

                    <div class="column large-half medium-full">
                        <h2>Nossa Missão</h2>
                        <p>
                            Escrever nossa missão...
                        </p>
                    </div>
                </div>

                <blockquote cite="http://where-i-got-my-info-from.com">
                    <p>
                        Porque Deus amou o mundo de tal maneira que deu o seu Filho unigênito, 
                        para que todo aquele que nele crê não pereça, mas tenha a vida eterna. Porque Deus 
                        enviou o seu Filho ao mundo, não para que condenasse o mundo, mas para que o mundo 
                        fosse salvo por ele.
                    </p>
                    <cite>
                        <a href="#0">João 3:16-17 ACF</a>
                    </cite>
                </blockquote>

                <br>

                <h2>Nossos Valores.</h2>
                <div class="row block-large-1-2 block-1000-full block-list">
                    <div class="column block-list__item">
                        <h6>Idntidade de Cristo</h6>

                        <p>
                            Escrever sobre a identidade de Cristo..
                        </p>
                    </div>

                    <div class="column block-list__item">
                        <h6>Igreja Família</h6>

                        <p>
                            Escrever sobre igreja familia...
                        </p>
                    </div>

                    <div class="column block-list__item">
                        <h6>Cultura do Reino</h6>

                        <p>
                            Escrever sobre cultura do reino...
                        </p>
                    </div>

                    <div class="column block-list__item">
                        <h6>Uma vida guiada pelo Espírito</h6>

                        <p>
                            Escrever sobre uma vida guiada pelo Espirito..
                        </p>
                    </div>

                </div> <!-- end block-list -->

                <br>

                <h2>Em que nós cremos</h2>

                <div class="row block-large-1-2 block-1000-full block-list">
                    <div class="column block-list__item">
                        <h6>Subtitulo aqui</h6>
                        <p>
                            Creças aqui...
                        </p>
                    </div>
                    <div class="column block-list__item">
                        <h6>
                           Subtitulo aqui
                        </h6>
                        <p>
                            Algo escrito aqui...
                        </p>
                    </div>
                    <div class="column block-list__item">
                        <h6>
                            Subtitulo aqui
                        </h6>
                        <p>
                            Algo escrito aqui...
                        </p>
                    </div>
                    <div class="column block-list__item">
                        <h6>
                            Subtitulo aqui
                        </h6>
                        <p>
                            Algo escrito aqui...
                        </p>
                    </div>
                </div> <!-- end block-list -->

                <br>

                <h2>Conheça Nossos Líderes</h2>

                <div class="row block-large-1-2 block-tab-full church-staff">
                    <div class="column church-staff__item">
                        <div class="church-staff__header">
                            <div class="church-staff__picture">
                                <img src="images/avatars/pastora-vanessa.jpg" alt="">
                            </div>
                            <h4 class="church-staff__name">
                                Vanessa Pinheiro
                                <span class="church-staff__position">
                                    Pastora Sênior
                                </span>
                            </h4>
                        </div>

                        <p>
                            Sobre a pastora vanessa...
                        </p>
                    </div>

                    @* <div class="column church-staff__item">
                        <div class="church-staff__header">
                            <div class="church-staff__picture">
                                <img src="images/avatars/user-02.jpg" alt="">
                            </div>
                            <h4 class="church-staff__name">
                                Jane Doe
                                <span class="church-staff__position">
                                    Lead Pastor
                                </span>
                            </h4>
                        </div>

                        <p>
                            Earum quia in. Sed deleniti sit aut molestiae eum consequatur
                            quidem. Non beatae molestias eveniet repellendus doloribus odio
                            sit nihil. Est labore a praesentium esse quisquam. Cumque ut
                            omnis.
                        </p>
                    </div>

                    <div class="column church-staff__item">
                        <div class="church-staff__header">
                            <div class="church-staff__picture">
                                <img src="images/avatars/user-03.jpg" alt="">
                            </div>
                            <h4 class="church-staff__name">
                                Charles Spurgeon
                                <span class="church-staff__position">
                                    Associate Pastor
                                </span>
                            </h4>
                        </div>

                        <p>
                            Quia cum tenetur et sequi eum molestiae expedita. Eum consectetur
                            ut unde nam voluptatibus rerum impedit error tenetur. Temporibus
                            sed est. Et magni modi illo accusamus. Et pariatur quis maxime.
                        </p>
                    </div>

                    <div class="column church-staff__item">
                        <div class="church-staff__header">
                            <div class="church-staff__picture">
                                <img src="images/avatars/user-04.jpg" alt="">
                            </div>
                            <h4 class="church-staff__name">
                                Martin Luther
                                <span class="church-staff__position">
                                    Associate Pastor
                                </span>
                            </h4>
                        </div>

                        <p>
                            Cupiditate amet laboriosam ratione at et veritatis quo et explicabo.
                            Illum nostrum voluptatem dignissimos laudantium. Et veniam qui.
                            Pariatur totam maiores. Quis et consequatur eum nesciunt rerum.
                        </p>
                    </div>

                    <div class="column church-staff__item">
                        <div class="church-staff__header">
                            <div class="church-staff__picture">
                                <img src="images/avatars/user-05.jpg" alt="">
                            </div>
                            <h4 class="church-staff__name">
                                John Wesley
                                <span class="church-staff__position">
                                    Youth Pastor
                                </span>
                            </h4>
                        </div>

                        <p>
                            Est voluptatem sequi debitis sunt et rerum. Officia possimus
                            dolorum optio quis ducimus. Quo asperiores laudantium voluptatum
                            numquam possimus. Saepe blanditiis voluptatem natus optio.
                        </p>
                    </div>

                    <div class="column church-staff__item">
                        <div class="church-staff__header">
                            <div class="church-staff__picture">
                                <img src="images/avatars/user-06.jpg" alt="">
                            </div>
                            <h4 class="church-staff__name">
                                Aimee Semple McPherson
                                <span class="church-staff__position">
                                    Kids Church Director
                                </span>
                            </h4>
                        </div>

                        <p>
                            Laudantium cumque pariatur doloribus et molestias. Natus et
                            voluptas consequuntur quo. Ut eos neque nostrum fugiat
                            impedit. Deserunt qui vitae quidem. Aut laudantium veniam omnis
                            sed ullam quo.
                        </p>
                    </div> *@

                </div> <!-- end church staff -->

            </div>
        </div>

    </section> <!-- end page content -->
    <!-- Social
    ================================================== -->
    <section class="s-social">

        <div class="row social-content">
            <div class="column">
                <ul class="social-list">
                    <li class="social-list__item">
                        <a href="#0" title="">
                            <span class="social-list__icon social-list__icon--facebook"></span>
                            <span class="social-list__text">Facebook</span>
                        </a>
                    </li>
                    <li class="social-list__item">
                        <a href="#0" title="">
                            <span class="social-list__icon social-list__icon--twitter"></span>
                            <span class="social-list__text">Twitter</span>
                        </a>
                    </li>
                    <li class="social-list__item">
                        <a href="#0" title="">
                            <span class="social-list__icon social-list__icon--instagram"></span>
                            <span class="social-list__text">Instagram</span>
                        </a>
                    </li>
                    <li class="social-list__item">
                        <a href="#0" title="">
                            <span class="social-list__icon social-list__icon--email"></span>
                            <span class="social-list__text">Email</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div> <!-- end social-content -->

    </section> <!-- end s-social -->
   
    <!-- Java Script
    ================================================== -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>

</body>
