@page
@model IndexModel


@* @{
    ViewData["Title"] = "Home page";
} *@

<!DOCTYPE html>
<html class="no-js" lang="pt-br">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Nazareno Miguel Couto</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/main.css">

    <!-- script
    ================================================== -->
    <script src="js/modernizr.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">

</head>

<body id="top">

    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader" class="dots-jump">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <section class="s-hero" data-parallax="scroll" data-image-src="images/hero-bg-3000.jpg" data-natural-width=3000 data-natural-height=2000 data-position-y=center>

        <div class="hero-left-bar"></div>

        <div class="row hero-content">

            <div class="column large-full hero-content__text">
                <h1>
                    Nós Existimos Para <br>
                    Honrar A Deus E <br>
                    Fazer Discipulos
                </h1>

                <div class="hero-content__buttons">
                    <a href="events.html" class="btn btn--stroke">Próximos Eventos</a>
                    <a href="about.html" class="btn btn--stroke">Sobre Nós</a>
                </div>
            </div> <!-- end hero-content__text -->

        </div> <!-- end hero-content -->

        <ul class="hero-social">
            <li class="hero-social__title">Nos Siga</li>
            <li>
                <a href="#0" title="">Facebook</a>
            </li>
            <li>
                <a href="https://www.youtube.com/%40nazarenoMC" title="">YouTube</a>
            </li>
            <li>
                <a href="#0" title="">Instagram</a>
            </li>
        </ul> <!-- end hero-social -->

        <div class="hero-scroll">
            <a href="#about" class="scroll-link smoothscroll">
                Continue Escrolando ;)
            </a>
        </div> <!-- end hero-scroll -->

    </section> <!-- end s-hero -->


    <!-- about
    ================================================== -->
    <section id="about" class="s-about">

        <div class="row row-y-center about-content">

            <div class="column large-half medium-full">
                <h3 class="subhead">Bem vindo a igrea do Nazareno!</h3>
                <p class="lead">
                    A Igreja do Nazareno é a maior denominação na tradição clássica da Santidade Wesleyana.
                    A doutrina que distingue a Igreja do Nazareno e outras denominações Wesleyanas da maioria das outras denominações
                    Cristãs é a doutrina da inteira santificação. Os nazarenos acreditam que Deus chama os cristãos para uma
                    vida de santidade marcada por um ato de Deus, limpando o coração do pecado original e enchendo o
                    indivíduo com amor a Deus e à humanidade.
                </p>
                <a asp-page="/about" class="btn btn--primary btn--about">Mais sobre a Igreja</a>
            </div>

            <div class="column large-half medium-full">
                <ul class="about-sched">
                    <li>
                        <h4>Culto Principal</h4>
                        <p>
                        Domingo - 9:00 AM | 18:00 PM <br>
                        </p>
                    </li>
                    <li>
                        <h4>Naza Kids</h4>
                        <p>
                        Domingo - 9:00 AM | 18:00 PM <br>
                        </p>
                    </li>
                    <li>
                        <h4>Reunião de Oração</h4>
                        <p>
                        Terça Feira - 19:00 PM <br>
                        </p>
                    </li>
                    <li>
                        <h4>Nosso Endereço:</h4>
                        <p>
                            <a style="color: white;" href="https://maps.app.goo.gl/PRkXkpqv1gewRGvH6" target="_blank">Estr. Miguel Couto, 451 - Miguel Couto</a>
                        </p>
                    </li>
                </ul> <!-- end about-sched-->
            </div>

        </div> <!-- end about-content -->

    </section> <!-- end s-about -->


    <!-- connect
    ================================================== -->
    <section class="s-connect">

        <div class="row connect-content">
            <div class="column large-half tab-full">
                <h3 class="display-1">Voluntarie-se</h3>
                <p>
                Você pode servir conosco realizando evangelismos com a equipe de evangelismo sobrenatural,
                ou realizando impactos sociais com o ministério de Trabalho e Testemunho.
                Seja dentro ou fora da igreja, cremos que Deus tem um lugar especial onde
                Você pode servir e promover mudança na comunidade.
                </p>

                <a href="volunteer.html" class="btn btn--primary h-full-width">I'm Interested</a>
            </div>
            <div class="column large-half tab-full">
                <h3 class="display-1">Conecte-se a um grupo</h3>
                <p>
                Temos diversos grupos de conexão, onde buscamos viver
                a simplicidade do Evangelho e do Reino de Deus fora do
                ambiente liturgico de uma denominação. Você pode entrar
                Em contanto com um de nossos líderes e pastores, e eles lhe 
                ajudarão a fazer parte desse movimento de Deus. 
                </p>

                <a href="connect-group.html" class="btn btn--primary h-full-width">Learn More</a>
            </div>
        </div> <!-- end connect-content  -->

    </section> <!-- end s-connect -->


    <!-- events
    ================================================== -->
    <section class="s-events">

        <div class="row events-header">
            <div class="column">
                <h2 class="subhead">Próximos Eventos</h2>
            </div>
        </div> <!-- end event-header -->

        <div class="row block-large-1-2 block-900-full events-list">

            <div class="column events-list__item">
                <h3 class="display-1 events-list__item-title">
                    <a href="#0" title="">Jesus Burguer MC - 2024</a>
                </h3>
                <p>
                O Jesus Burguers é um movimento micional que nasceu
                na cidade de Isla Vista, California com a premissa de
                espalhar o Evangelho e Amor de Deus, dando hamburguers de graça. 
                por isso faremos em frente a nossa igreja, o primeiro Jesus Burguer
                de Miguel Couto! Vê se não não vai perder essa! Jesus Loves People.<br />
                
                </p>
                 <ul class="events-list__meta">
                    <li class="events-list__meta-date">Sabado, 26, Agosto , 2024</li>
                    <li class="events-list__meta-time">17:30AM - 20:30PM</li>
                    <li class="events-list__meta-location">
                        <a class="events-list__meta-location style=" color: white;" href="https://maps.app.goo.gl/PRkXkpqv1gewRGvH6" target="_blank">Estr. Miguel Couto, 451 - Miguel Couto</a>
                    </li>
                </ul>
            </div> <!-- end events-list__item -->
            @*@<div class="column events-list__item">
                <h3 class="display-1 events-list__item-title">
                    <a href="#0" title="">Prayer Meeting.</a>
                </h3>
                <p>
                Laborum distinctio minima doloribus reiciendis aut aliquid. 
                Deleniti est adipisci ut quo ducimus eum ratione voluptas. 
                Voluptatem tenetur rem ratione velit ut. Repudiandae atque 
                perspiciatis est similique rerum nam qui iusto minus. Sapiente 
                porro dolores consequatur optio animi aut facere.
                </p>
                <ul class="events-list__meta">
                    <li class="events-list__meta-date">Saturday, July 27, 2019</li>
                    <li class="events-list__meta-time">6:00PM - 8:30PM</li>
                    <li class="events-list__meta-location">1600 Amphitheatre Parkway, Mt. View</li>
                </ul>
            </div> <!-- end events-list__item -->
            <div class="column events-list__item">
                <h3 class="display-1 events-list__item-title">
                    <a href="#0" title="">Youth Convergence.</a>
                </h3>
                <p>
                Laborum distinctio minima doloribus reiciendis aut aliquid. 
                Deleniti est adipisci ut quo ducimus eum ratione voluptas. 
                Voluptatem tenetur rem ratione velit ut. Repudiandae atque 
                perspiciatis est similique rerum nam qui iusto minus. Sapiente 
                porro dolores consequatur optio animi aut facere.
                </p>
                <ul class="events-list__meta">
                    <li class="events-list__meta-date">Friday, July 26, 2019</li>
                    <li class="events-list__meta-time">5:00PM - 6:30PM</li>
                    <li class="events-list__meta-location">1600 Amphitheatre Parkway, Mt. View</li>
                </ul>
            </div> <!-- end events-list__item -->
            <div class="column events-list__item">
                <h3 class="display-1 events-list__item-title">
                    <a href="#0" title="">Leadership Conference.</a>
                </h3>
                <p>
                Optio temporibus suscipit magnam. Consequatur doloribus sed. 
                Explicabo molestiae est minima. Distinctio quis optio architecto 
                molestiae officia molestiae qui veniam minima. Nemo placeat ex 
                dolor ratione qui autem eius vel. In dolorem aut enim aspernatur 
                molestias nostrum.
                </p>
                <ul class="events-list__meta">
                    <li class="events-list__meta-date">Sunday, July 28, 2019</li>
                    <li class="events-list__meta-time">2:00PM - 5:30PM</li>
                    <li class="events-list__meta-location">1600 Amphitheatre Parkway, Mt. View</li>
                </ul> *@
            </div> <!-- end events-list__item -->

        </div> <!-- end events-list -->

    </section> <!-- end s-events -->


    <!-- series
    ================================================== -->
    <section class="s-series">

        <div class="series-img" style="background-image: url('images/series-2000.jpg');"></div>

        <div class="row row-y-center series-content">

            <div class="column large-half medium-full">
                <h3 class="subhead">Series de Mensagens</h3>
                <h2>Molde sua vida com as Palavras de Vida.</h2>
                <p>
                    Através das Escrituras, Deus nos fala de maneira poderosa e transformadora,
                    e você tem sido chamado(a) para ser um canal dessa mensagem de vida.
                    Lembre-se sempre de que a Palavra de Deus é viva e eficaz, mais afiada que qualquer espada 
                    de dois gumes, capaz de penetrar até a divisão da alma e do espírito, das juntas e medulas, 
                    e é apta para discernir os pensamentos e intenções do coração (Hebreus 4:12). Ao compartilhar 
                    essa Palavra, você está oferecendo a outros a oportunidade de conhecer a verdade que liberta, cura e restaura.
                </p>
            </div> <!-- end column -->

            <div class="column large-half medium-full">
                <div class="series-content__buttons">
                    <a href="" class="btn btn--large h-full-width">Veja o video</a>
                    <a href="" class="btn btn--large h-full-width">Ouça a mensagem</a>
                </div>

                <div class="series-content__subscribe">
                    <p>
                    Jamais perca uma mensagem. Se inscreva em nossos canais no YouTube e Podcast.
                    </p>
                    
                    <ul class="series-content__subscribe-links">
                        <li class="ss-apple-podcast"><a href="#0">Apple Podcast</a></li>
                        <li class="ss-spotify"><a href="#0">Spotify</a></li>
                        <li class="ss-soundcloud"><a href="#0">SoundCloud</a></li>
                        <li class="ss-youtube"><a href="#0">Youtube</a></li>
                    </ul>
                </div>
            </div> <!-- end column -->
            
        </div> <!-- series-content -->

    </section> <!-- end s-series -->


    <!-- Social
    ================================================== -->
    <section class="s-social">
            
        <div class="row social-content">
            <div class="column">
                <ul class="social-list">
                    <li class="social-list__item">
                        <a href="#0" title="">
                            <span class="social-list__icon social-list__icon--facebook"></span>
                            <span class="social-list__text">Facebook</span>
                        </a>
                    </li>
                    <li class="social-list__item">
                        <a href="#0" title="">
                            <span class="social-list__icon social-list__icon--twitter"></span>
                            <span class="social-list__text">Twitter</span>
                        </a>
                    </li>
                    <li class="social-list__item">
                        <a href="#0" title="">
                            <span class="social-list__icon social-list__icon--instagram"></span>
                            <span class="social-list__text">Instagram</span>
                        </a>
                    </li>
                    <li class="social-list__item">
                        <a href="#0" title="">
                            <span class="social-list__icon social-list__icon--email"></span>
                            <span class="social-list__text">Email</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div> <!-- end social-content -->

    </section> <!-- end s-social -->

    <!-- Java Script
    ================================================== -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>

</body>